body {
    background-color: tomato;
    text-align: center;
    
    
}

h1 {
    font-size: 120px;
    text-align: center;

}

.row {
    width: auto;
    margin: 0 auto;
}

.block {
    width: 250;
    display: inline-block;
}

.button {
    font-size: 25px;
}